In [ ]:
# Author : Vasista
# Date   : 09/11/2018
# Topic  : Column Typecasting

In [1]:
# Package Imports
import pandas as pd

In [ ]:
# Read Dataset

In [3]:
data = pd.read_csv('C:\\Code Templates Python\\dummy_data.csv')
data.head()

   Age
0   12
1   34
2   22
3   56
4   54

In [7]:
# Finding data type Of the column
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 1 columns):
Age    19 non-null int64
dtypes: int64(1)
memory usage: 232.0 bytes

In [ ]:
# Convert column from int type to string/object and categorical

In [10]:
data['Age'] = data['Age'].astype('str')   # Into String
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 1 columns):
Age    19 non-null object
dtypes: object(1)
memory usage: 232.0+ bytes

In [13]:
data['Age'] = data['Age'].astype('category')    # Into Category
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 1 columns):
Age    19 non-null category
dtypes: category(1)
memory usage: 891.0 bytes

# Selecting Columns Based on Dtypes

In [ ]:
num_data = pd.DataFrame(data.loc[:, data.dtypes == 'int64'])
num_data.shape

In [ ]:
data_num1 = data.select_dtypes(include=['float64'])

In [ ]:
label encoding
one hot encoding
other encoding techniques.

### Type Cast Multiple Columns At a Time With Loops

In [ ]:
float_data = pd.DataFrame()                 # Empty Dataframe
obj_cols = weatherData_noDay.iloc[:, 2:-2]   # Select required columns

for i in obj_cols.columns:
    float_data[i] = obj_cols[i].apply(pd.to_numeric, errors = 'coerce')    # Converting into float.
float_data.dtypes

### Or

In [ ]:
weatherData_noDay.iloc[:, 2:-1] = weatherData_noDay.iloc[:, 2:-1].apply(pd.to_numeric, errors = 'coerce')
weatherData_noDay.dtypes

### Change Column Names Iteratively

In [ ]:
for i in weatherData_final1.columns:
    print(i[0]+i[1])

In [ ]:
weather_features.columns = [x[0]+x[1] for x in weather_features.columns]