In [1]:
# Author : Vasista
# Date   : 09/11/2018
# Topic  : Date Formating

In [20]:
# Package Imports
import pandas as pd
import dateutil
from datetime import date        # Deals with Date(Month, day, year)
from datetime import time        # (Hour, minute, second, microsecond)
from datetime import datetime    # (Month, day, year, hour, second, microsecond)

In [3]:
# Read Dataset

In [17]:
data = pd.read_csv('C:\\Code Templates Python\\dummy_data.csv', sep=';')
data.head(8)

   Age        Date
0   12  17/09/2018
1   34  20/09/2018
2   22    12/11/17
3   56    Oct 2018
4   54    Feb 2010
5   30    Mar 2103
6   89  22/09/1994
7   67    06/05/18

In [13]:
# Finding DataType Of Date Column

data.info()                # taken as object type for Date column
str(data['Date'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
Age     19 non-null int64
Date    19 non-null object
dtypes: int64(1), object(1)
memory usage: 384.0+ bytes

'0       17/09/2018\n1       20/09/2018\n2         12/11/17\n3         Oct 2018\n4         Feb 2010\n5         Mar 2103\n6       22/09/1994\n7         06/05/18\n8     9th aug 2108\n9        Sept 2105\n10        01/19/18\n11        22nd aug\n12        Sep 2018\n13       11th july\n14      25/09/2018\n15        nov 20th\n16        30th apr\n17        Dec 2016\n18        dec 21st\nName: Date, dtype: object'

In [23]:
# Parsing Date Column Into DateTime Object
data['Date'].apply(dateutil.parser.parse, dayfirst=True)  # Taking Present day for those records which dont have day.

0    2018-09-17
1    2018-09-20
2    2017-11-12
3    2018-10-09
4    2010-02-09
5    2103-03-09
6    1994-09-22
7    2018-05-06
8    2108-08-09
9    2105-09-09
10   2018-01-19
11   2018-08-22
12   2018-09-09
13   2018-07-11
14   2018-09-25
15   2018-11-20
16   2018-04-30
17   2016-12-09
18   2018-12-21
Name: Date, dtype: datetime64[ns]

In [ ]:
### Convert Date Column Into Datetime Object   [transsactions is a column name.]
transactions['purchase_date'] = pd.to_datetime(transactions['purchase_date'])

In [ ]:
### get month, year from datetime column
transactions['purchase_month'] = transactions['purchase_date'].dt.month
transactions['year'] = transactions['purchase_date'].dt.year
transactions['week_of_year'] = transactions['purchase_date'].dt.week