In [ ]:
# Author : Vasista
# Date   : 09/11/2018
# Topic  : Descriptive Stats

In [1]:
# Package Imports
import pandas as pd
import numpy as np

In [2]:
# Read Dataset

In [3]:
data = pd.read_csv('C:\\House prediction data kaggle\\train.csv')
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
# Finding Datatypes Of Columns
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

# Descriptive Stats Of Numerical Variables

In [5]:
print(data['LotArea'].describe())
print(data['SalePrice'].describe())

count      1460.000000
mean      10516.828082
std        9981.264932
min        1300.000000
25%        7553.500000
50%        9478.500000
75%       11601.500000
max      215245.000000
Name: LotArea, dtype: float64
count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

# Correlation Between Numerical Variables.

In [6]:
corr = data['SalePrice'].corr(data['LotArea'])
print(corr)
corr1 = data['SalePrice'].corr(data['WoodDeckSF'])
print(corr1)

0.2638433538714056
0.32441344456813004

# Binning Numerical Data with cut() Function.

In [7]:
data['SalePrice_category'] = pd.cut(data['SalePrice'], bins=10, labels=[1,2,3,4,5,6,7,8,9,10])
data['SalePrice_category'].value_counts().sort_values()

10      2
9       2
8       3
7       4
6      19
5      51
4     135
1     148
3     373
2     723
Name: SalePrice_category, dtype: int64

In [8]:
data['SalePrice'].describe()

count      1460.000000
mean     180921.195890
std       79442.502883
min       34900.000000
25%      129975.000000
50%      163000.000000
75%      214000.000000
max      755000.000000
Name: SalePrice, dtype: float64

In [11]:
min_sale = data["SalePrice"].min()
max_sale = data["SalePrice"].max()

In [13]:
data['SalePrice_category'] = pd.cut(data['SalePrice'], bins=[min_sale, 60000, 120000, 180000, 260000, 500000, max_sale])
data['SalePrice_category'].value_counts().sort_values()

(500000, 755000]      9
(34900, 60000]       13
(260000, 500000]    182
(60000, 120000]     255
(180000, 260000]    373
(120000, 180000]    627
Name: SalePrice_category, dtype: int64

In [131]:
data['SalePrice_category1'] = pd.cut(data['SalePrice'].sort_values(), bins=9)
data['SalePrice_category1'].value_counts()

(114911.111, 194922.222]    793
(194922.222, 274933.333]    299
(34179.9, 114911.111]       210
(274933.333, 354944.444]    105
(354944.444, 434955.556]     35
(434955.556, 514966.667]     10
(514966.667, 594977.778]      4
(674988.889, 755000.0]        2
(594977.778, 674988.889]      2
Name: SalePrice_category1, dtype: int64

In [130]:
np.count_nonzero(data['SalePrice']<=100000)

123

# Manually Bunning Numeric Data

In [ ]:
list1= []
list2= []
list3= []
list4= []
list5= []
list6= []
list7= []
list8= []
list9= []
for i in data['SalePrice']:
    if i <= 35000:
        list1.append(i)
    elif 35001 <=i<= 50000:
        list2.append(i)
    elif 50001 <=i<= 80000:
        list3.append(i)
    elif 80001 <=i<= 100000:
        list4.append(i)
    elif 100001 <=i<= 125000:
        list5.append(i)
    elif 125001 <=i<= 250000:
        list6.append(i)
    elif 250001 <=i<= 400000:
        list7.append(i)
    elif 400001 <=i<= 500000:
        list8.append(i)
    else:
        list9.append(i)
print(len(list1))
print(len(list2))
print(len(list3))
print(len(list4))
print(len(list5))
print(len(list6))
print(len(list7))
print(len(list8))
print(len(list9))

# Descriptive Stats for Categorical Variables

In [41]:
data['Street'].unique()
data['LotShape'].unique()

array(['Reg', 'IR1', 'IR2', 'IR3'], dtype=object)

In [37]:
data['LotShape'].describe()

count     1460
unique       4
top        Reg
freq       925
Name: LotShape, dtype: object

In [63]:
# Value Counts
data['KitchenQual'].value_counts()

TA    735
Gd    586
Ex    100
Fa     39
Name: KitchenQual, dtype: int64

# GroupBy

In [74]:
data.groupby(data['YrSold']).groups

{2006: Int64Index([   3,   11,   17,   20,   28,   35,   40,   44,   51,   53,
             ...
             1402, 1404, 1419, 1420, 1423, 1430, 1434, 1449, 1452, 1453],
            dtype='int64', length=314),
 2007: Int64Index([   1,    6,   13,   15,   21,   23,   34,   41,   42,   47,
             ...
             1424, 1429, 1432, 1436, 1439, 1444, 1445, 1447, 1448, 1455],
            dtype='int64', length=329),
 2008: Int64Index([   0,    2,    4,    8,    9,   10,   12,   14,   18,   22,
             ...
             1422, 1425, 1426, 1427, 1433, 1435, 1437, 1440, 1441, 1459],
            dtype='int64', length=304),
 2009: Int64Index([   5,    7,   19,   25,   36,   37,   46,   48,   56,   64,
             ...
             1412, 1413, 1415, 1417, 1431, 1442, 1443, 1450, 1451, 1454],
            dtype='int64', length=338),
 2010: Int64Index([  16,   24,   26,   27,   33,   38,   45,   52,   63,   66,
             ...
             1396, 1408, 1416, 1421, 1428, 1438, 1446, 1456, 1457, 1458],
            dtype='int64', length=175)}

In [92]:
data['MoSold'].groupby(data['YrSold']).value_counts()

YrSold  MoSold
2006    7         67
        6         48
        5         38
        4         27
        3         25
        10        24
        8         23
        11        16
        9         15
        12        12
        1         10
        2          9
2007    6         59
        7         51
        5         43
        8         40
        11        24
        3         23
        4         23
        12        18
        10        16
        1         13
        9         11
        2          8
2008    6         51
        7         49
        5         38
        8         29
        4         26
        10        22
        3         18
        9         17
        11        17
        12        14
        1         13
        2         10
2009    7         61
        6         59
        5         37
        8         30
        10        27
        4         26
        11        22
        9         20
        3         19
        12        15
        1         12
        2         10
2010    5         48
        4         39
        6         36
        3         21
        2         15
        1         10
        7          6
Name: MoSold, dtype: int64

# Descriptive Stats with one Date_type and one Numerical Variable

In [93]:
data['SalePrice'].groupby(data['YrSold']).count()

YrSold
2006    314
2007    329
2008    304
2009    338
2010    175
Name: SalePrice, dtype: int64

# Descriptive Stats with one Numeric and one Categorical Variable

In [87]:
# Frequency Table
df = pd.crosstab(index = data['OverallQual'], columns = ['SaleCondition'])
df

col_0        SaleCondition
OverallQual
1                        2
2                        3
3                       20
4                      116
5                      397
6                      374
7                      319
8                      168
9                       43
10                      18