In [ ]:
### Author : Vasista
### Date   : 12/11/2018
### Topic  : Data Preprocessing, Imputation, Type Casting, Data Reshaping

In [44]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import Imputer

In [46]:
data = pd.read_csv('C:\Piazza\CUTe2\Retail_Train.csv', sep=',')
data.head()

,PersonID,Amount,FamilySize,Distance,Duration,DirectVisits,OnlineVisits,Quantity,NumberofFrequentItems,TransactionMode,Area,Occupation
0,C1104,3125,2,6,261,11,9,365,11,2,Area1,2
1,C1111,5298,2,5,323,9,9,218,3,2,Area1,1
2,C1117,4375,2,6,355,11,11,1367,11,2,Area1,2
3,C1128,9700,5,7,418,51,41,2947,51,1,Area1,1
4,C1132,3625,2,7,290,9,9,1233,8,2,Area1,3

In [47]:
# Seperating Columns With less than 30% Missing Values.

data1 = data.loc[:, data.isnull().mean() < 0.3]
print(data1.shape)
data1.info()

(2938, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 12 columns):
PersonID                 2938 non-null object
Amount                   2938 non-null int64
FamilySize               2938 non-null int64
Distance                 2938 non-null int64
Duration                 2938 non-null int64
DirectVisits             2938 non-null int64
OnlineVisits             2938 non-null int64
Quantity                 2938 non-null int64
NumberofFrequentItems    2938 non-null int64
TransactionMode          2938 non-null int64
Area                     2938 non-null object
Occupation               2938 non-null int64
dtypes: int64(10), object(2)
memory usage: 275.5+ KB

In [49]:
# Data Type Conversions for Columns

retail = data.copy()
retail = retail.drop(labels='PersonID',axis=1)
retail['totalVisits'] = retail['DirectVisits'] + retail['OnlineVisits']
retail_new = retail.drop(labels=['OnlineVisits', 'DirectVisits'],axis=1)


retail_new['FamilySize'] = retail_new['FamilySize'].astype('object')
retail_new['TransactionMode'] = retail_new['TransactionMode'].astype('object')
retail_new['Occupation'] = retail_new['Occupation'].astype('object')

retail_new1 = pd.get_dummies(retail_new)

### Replace Using .replace

In [ ]:
weatherData_noDay['Precip (mm) sum'] = weatherData_noDay.loc[:, 'Precip (mm) sum'].replace({r'[^0-9\.]': '', '': np.nan}, regex=True)

### Replace Values using Lambda function

In [ ]:
weatherData_noDay[weatherData_noDay.columns[21]] = weatherData_noDay[weatherData_noDay.columns[21]].apply(lambda x: 0.01 if x == 'T' else x)

# OR

weatherData_noDay['Precip (mm) sum'] =   weatherData_noDay['Precip (mm) sum'].apply(lambda x: 0.01 if x == 'T' else x)

In [ ]:
# Correlation Map

In [ ]:
import pandas as pd
import numpy as np

rs = np.random.RandomState(0)
df = pd.DataFrame(rs.rand(10, 10))
corr = df.corr()
corr.style.background_gradient()