# <center>**Pandas Introduction**</center>
---

<br>

## **Pandas DataFrame**

In [37]:
# import pandas
import pandas as pd

## **Reading data**

In [38]:
# Read data from csv file
ipl = pd.read_csv('matches2008-2016.csv')
ipl_new = pd.read_csv('matches2017.csv')

## **Checking data dimentions**

In [39]:
print(ipl.shape)
print(ipl_new.shape)

(577, 19)
(59, 19)

## **Appending DataFrame**

In [40]:
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original data
ipl_final = ipl_final.append(ipl_new)
print(ipl_final.shape)

(636, 19)

## **Data Inspection**

In [41]:
## .shape gives dimentions of Data
print(ipl_final.shape)                            # dim() in R - Dimentions of data

(636, 19)

In [55]:
## Getting top 3 rows
ipl_final.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18-04-2008,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,82.0,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [56]:
## .columns gives column names
print(ipl_final.columns)                          # colnames() in R - Column Namesprint(list(df.index)[:10])

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match',
       'player_of_match_id', 'venue', 'venue_id', 'umpire1', 'umpire2'],
      dtype='object')

In [57]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)                           # str() in R - Data types

match_id               object
season                  int64
city                   object
date                   object
team1_id               object
team2_id               object
toss_winner            object
toss_decision          object
result                 object
dl_applied              int64
winner                 object
win_by_runs             int64
win_by_wickets          int64
player_of_match        object
player_of_match_id    float64
venue                  object
venue_id                int64
umpire1                object
umpire2                object
dtype: object

<br><br>
## **Seting match_id as row index** (rarely used)

In [58]:
ipl_final.set_index(['match_id'],inplace=True)

## **Summary statistics**

In [59]:
ipl.describe()

,season,dl_applied,win_by_runs,win_by_wickets,player_of_match_id
count,574.000000,574.000000,574.000000,574.000000,571.000000
mean,2012.045296,0.026132,13.491289,3.381533,188.208406
std,2.482336,0.159668,23.083484,3.416275,163.481284
min,2008.000000,0.000000,0.000000,0.000000,1.000000
25%,2010.000000,0.000000,0.000000,0.000000,59.000000
50%,2012.000000,0.000000,0.000000,4.000000,148.000000
75%,2014.000000,0.000000,20.000000,6.750000,282.000000
max,2016.000000,1.000000,144.000000,10.000000,691.000000

## **Dropping columns**

In [60]:
# Dropping Column
ipl_final.drop(['venue_id'], axis=1, inplace=True)    # Axis = 1 for columns

ipl.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar
2008_4,2008,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,145.0,"Wankhede Stadium, Mumbai, Maharashtra",SJ Davis,DJ Harper

## **Dropping row**

In [61]:
# Dropping rows
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  # Axis = 0 for rows

ipl.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_2,2008,Chandigarh,19-04-2008,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,18.0,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19-04-2008,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,60.0,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar
2008_4,2008,Mumbai,20-04-2008,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,145.0,"Wankhede Stadium, Mumbai, Maharashtra",SJ Davis,DJ Harper

## **Frequency distribution**

In [62]:
ipl_final['winner'].value_counts()       # table() in R - Frequency count

MI     91
CSK    79
KKR    75
RCB    73
KXI    70
RR     63
DD     62
SRH    42
DC     29
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

## **loc (to subset data by Row/Column labels)**

In [71]:
## Label based indexing make more sense for column subsetting
subset1 = ipl_final.loc[:,['venue','winner']]
subset1.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2008_3                      Feroz Shah Kotla Stadium, Delhi     DD
2008_4                Wankhede Stadium, Mumbai, Maharashtra    RCB

In [73]:
## For loc based subsetting using row and column indexer together is rare.
subset2 = ipl_final.loc[['2008_2','2009_2','2010_2',],['venue','winner']]
subset2.head(3)

                                                      venue winner
match_id
2008_2    I.S. Bindra Punjab Cricket Association Stadium...    CSK
2009_2                                             Newlands    RCB
2010_2                                    Brabourne Stadium     MI

## **iloc    (to subset data based on Row/Column number)**

In [77]:
## Numeric based indexing usually makes sense for row subsetting 
ipl.iloc[50:53,1:5]

               city        date team1_id team2_id
match_id
2008_52   Bangalore  03-05-2008      RCB       DC
2008_53     Kolkata  25-05-2008      KXI      KKR
2008_54      Jaipur  26-05-2008       MI       RR

## **Boolean indexing (to subset based on value in each cell of the column )**
**Here we subsetting the data where the cell value in "City" column is equal to "Hyderabad"**

In [85]:
subset3 = ipl.loc[ipl['city']=='Hyderabad',:]
subset3.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,player_of_match_id,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_7,2008,Hyderabad,22-04-2008,DC,DD,DC,bat,normal,0,DD,0,9,Virender Sehwag,46.0,"Rajiv Gandhi International Stadium, Hyderabad",IL Howell,AM Saheba
2008_9,2008,Hyderabad,24-04-2008,DC,RR,RR,field,normal,0,RR,0,3,Yusuf Pathan,171.0,"Rajiv Gandhi International Stadium, Hyderabad",Asad Rauf,MR Benson
2008_18,2008,Hyderabad,01-05-2008,DC,KXI,KXI,field,normal,0,KXI,0,7,Shaun Marsh,106.0,"Rajiv Gandhi International Stadium, Hyderabad",BR Doctrove,RB Tiffin

## **Piping of functions (for multiple criteria subsetting)**

**Basically output of first function is taken as input for the next function**
#### **Note - We are using a relational operator inside the first function to get a boolean vector (equal to the number of rows we have). Where the value will be True only if the "city" column is "Hyderabad"**

In [91]:
subset4 = ipl.loc[ipl['city']=='Chennai',:].loc[ipl['winner']=='CSK',:].loc[:,['team1_id','team2_id','winner','city']]

## This line achieves the same purpose as above
# subset4 = ipl.loc[(ipl['city']=='Chennai') & (ipl['winner']=='CSK'),:].loc[:,['team1_id','team2_id','winner','city']]

hyderabad.head(3)

         team1_id team2_id winner     city
match_id
2008_8        CSK       MI    CSK  Chennai
2008_12       KKR      CSK    CSK  Chennai
2008_32       CSK      KXI    CSK  Chennai

### **Note**
1. In the first commande we have used 3 subsetting logics in a single line
2. This can be alternatively done by chaining conditions using logical operations (&)
3. **You may realize that sometimes giving single indexer (either row or column) works. However it may not be a consistent behaviour and its a good programming practive to specify both the indexers explicitly (row and column) as it makes the code more readable later on.**

## **Replace specific values**

In [93]:
ipl['winner'].value_counts()

MI     79
CSK    79
RCB    70
KKR    66
KXI    63
RR     63
DD     56
SRH    34
DC     29
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

In [94]:
ipl_final.replace({'DC':'SRH'}, inplace=True)

ipl_updated['winner'].value_counts()

MI     79
CSK    79
RCB    70
KKR    66
KXI    63
RR     63
SRH    63
DD     56
PW     12
GL      9
KTK     6
RPS     5
Name: winner, dtype: int64

## **Activity**
**What matches are played on 2008-04-20 and who is the winner?**

In [95]:
ipl.loc[ipl['date']=='20-04-2008',:].loc[:,['winner']]

         winner
match_id
2008_4      RCB
2008_5      KKR

---
## *<center>Fin</center>*