<h1 id="tocheading">Table of Contents</h1>
<div id="toc"></div>

In [1]:
%%javascript
$.getScript('https://kmahelona.github.io/ipython_notebook_goodies/ipython_notebook_toc.js')

# Weather Data

## Imports And Data Loading

In [1]:
import pandas as pd
import numpy as np

In [2]:
weather = pd.ExcelFile('C:\\Users\\HP\Desktop\\PHD Hackathon\\Data Science\\PhD_Train_Data\\WeatherDataNew.xlsx')
weather9 = pd.read_excel(weather, sheetname='2009')
weather10 = pd.read_excel(weather, sheetname='2010', na_values=[' ', '-'])
weather11 = pd.read_excel(weather, sheetname='2011', na_values=[' ', '-'])
weather12 = pd.read_excel(weather, sheetname='2012', na_values=[' ', '-'])
weather13 = pd.read_excel(weather, sheetname='2013', na_values=[' ', '-'])
weather14 = pd.read_excel(weather, sheetname='2014', na_values=[' ', '-'])
weather15 = pd.read_excel(weather, sheetname='2015', na_values=[' ', '-'])

In [3]:
df_list = [weather9, weather10, weather11, weather12, weather13, weather14, weather15]

weatherData = pd.concat(df_list)
weatherData.head()

,Year,Month,Day,Temp high (°C),Temp avg (°C),Temp low (°C),Dew Point high (°C),Dew Point avg (°C),Dew Point low (°C),Humidity (%) high,...,Sea Level Press. (hPa) avg,Sea Level Press. (hPa) low,Visibility (km) high,Visibility (km) avg,Visibility (km) low,Wind (km/h) low,Wind (km/h) avg,Wind (km/h) high,Precip. (mm) sum,WeatherEvent
0,2009,Jan,1,-3.0,-6.0,-9.0,-16.0,-17.0,-19.0,54.0,...,1023.0,1015.0,16.0,16.0,16.0,37,18,60,0,NaN
1,2009,Jan,2,1.0,-2.0,-5.0,-3.0,-7.0,-17.0,78.0,...,1012.0,1007.0,16.0,13.0,2.0,27,10,48,T,Snow
2,2009,Jan,3,3.0,1.0,-2.0,-5.0,-9.0,-13.0,72.0,...,1015.0,1008.0,16.0,16.0,16.0,27,16,42,T,NaN
3,2009,Jan,4,6.0,1.0,-4.0,-10.0,-12.0,-13.0,55.0,...,1017.0,1015.0,16.0,16.0,16.0,32,12,40,0,NaN
4,2009,Jan,5,6.0,5.0,3.0,-1.0,-5.0,-16.0,62.0,...,1014.0,1013.0,16.0,16.0,16.0,23,11,34,T,NaN

In [4]:
weatherData.shape

(2556, 23)

## Preprocessing

### Dropping Day Column

In [5]:
weatherData_noDay = weatherData.copy().drop('Day', axis = 1)
weatherData_noDay.shape

(2556, 22)

### Changing Column Names

In [6]:
weatherData_noDay.columns = ['Year', 'Month', 'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)',
                        'Dew Point high (°C)', 'Dew Point avg (°C)', 'Dew Point low (°C)',
                       'Humidity_high', 'Humidity_avg', 'Humidity_low','Sea Level Press high', 'Sea Level Press avg',
                       'Sea Level Press low', 'Visibility (km) high','Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
                       'Wind (km/h) avg', 'Wind (km/h) high', 'Precip (mm) sum','WeatherEvent']

### Replace T value With 0.01 in Precip (mm) sum Column

In [7]:
weatherData_noDay['Precip (mm) sum'].isnull().sum()

1

In [8]:
weatherData_noDay['Precip (mm) sum'] =   weatherData_noDay['Precip (mm) sum'].apply(lambda x: 0.01 if x == 'T' else x)  
weatherData_noDay['Precip (mm) sum'].isnull().sum()

1

### Convert Dtypes Of Columns

In [18]:
weatherData_noDay.dtypes

Year                      int64
Month                    object
Temp high (°C)          float64
Temp avg (°C)           float64
Temp low (°C)           float64
Dew Point high (°C)     float64
Dew Point avg (°C)      float64
Dew Point low (°C)      float64
Humidity_high           float64
Humidity_avg            float64
Humidity_low            float64
Sea Level Press high    float64
Sea Level Press avg     float64
Sea Level Press low     float64
Visibility (km) high    float64
Visibility (km) avg     float64
Visibility (km) low     float64
Wind (km/h) low         float64
Wind (km/h) avg         float64
Wind (km/h) high        float64
Precip (mm) sum         float64
WeatherEvent             object
dtype: object

In [19]:
weatherData_noDay.iloc[:, 2:-1] = weatherData_noDay.iloc[:, 2:-1].apply(pd.to_numeric, errors = 'coerce')
weatherData_noDay.dtypes

Year                      int64
Month                    object
Temp high (°C)          float64
Temp avg (°C)           float64
Temp low (°C)           float64
Dew Point high (°C)     float64
Dew Point avg (°C)      float64
Dew Point low (°C)      float64
Humidity_high           float64
Humidity_avg            float64
Humidity_low            float64
Sea Level Press high    float64
Sea Level Press avg     float64
Sea Level Press low     float64
Visibility (km) high    float64
Visibility (km) avg     float64
Visibility (km) low     float64
Wind (km/h) low         float64
Wind (km/h) avg         float64
Wind (km/h) high        float64
Precip (mm) sum         float64
WeatherEvent             object
dtype: object

### Filling Missing Values

In [20]:
weatherData_noDay.isnull().sum()/len(weatherData_noDay)*100

Year                     0.000000
Month                    0.000000
Temp high (°C)           0.078247
Temp avg (°C)            0.078247
Temp low (°C)            0.078247
Dew Point high (°C)      0.078247
Dew Point avg (°C)       0.078247
Dew Point low (°C)       0.078247
Humidity_high            0.078247
Humidity_avg             0.078247
Humidity_low             0.078247
Sea Level Press high     0.547731
Sea Level Press avg      0.547731
Sea Level Press low      0.547731
Visibility (km) high     0.899844
Visibility (km) avg      0.899844
Visibility (km) low      0.899844
Wind (km/h) low          0.586854
Wind (km/h) avg          0.586854
Wind (km/h) high         1.799687
Precip (mm) sum          0.039124
WeatherEvent            65.023474
dtype: float64

In [21]:
from sklearn.preprocessing import Imputer
imputer = Imputer(strategy='mean')

num_cols = weatherData_noDay.select_dtypes(include=['float64'])
labels = num_cols.columns
num_cols = pd.DataFrame(imputer.fit_transform(num_cols), columns=labels)

num_cols.isnull().any()

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

Temp high (°C)          False
Temp avg (°C)           False
Temp low (°C)           False
Dew Point high (°C)     False
Dew Point avg (°C)      False
Dew Point low (°C)      False
Humidity_high           False
Humidity_avg            False
Humidity_low            False
Sea Level Press high    False
Sea Level Press avg     False
Sea Level Press low     False
Visibility (km) high    False
Visibility (km) avg     False
Visibility (km) low     False
Wind (km/h) low         False
Wind (km/h) avg         False
Wind (km/h) high        False
Precip (mm) sum         False
dtype: bool

In [22]:
obj_cols = weatherData_noDay.select_dtypes(include = ['object'])
obj_cols['WeatherEvent'] = obj_cols.WeatherEvent.fillna('Other')
print(obj_cols.isnull().sum())

Month           0
WeatherEvent    0
dtype: int64

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [25]:
weatherData_final = pd.DataFrame()
weatherData_final = pd.concat([weatherData_noDay[['Year']], num_cols, obj_cols])
weatherData_final.head()

,Dew Point avg (°C),Dew Point high (°C),Dew Point low (°C),Humidity_avg,Humidity_high,Humidity_low,Month,Precip (mm) sum,Sea Level Press avg,Sea Level Press high,...,Temp high (°C),Temp low (°C),Visibility (km) avg,Visibility (km) high,Visibility (km) low,WeatherEvent,Wind (km/h) avg,Wind (km/h) high,Wind (km/h) low,Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2009.0

## Extracting New Features From Weather Data

In [15]:
weatherData_final = weatherData_noDay.copy()
col_list = ['Year', 'Month', 'Temp high (°C)', 'Temp avg (°C)', 'Temp low (°C)','Dew Point high (°C)', 'Dew Point avg (°C)', 
            'Dew Point low (°C)','Humidity_high', 'Humidity_avg', 'Humidity_low', 'Sea Level Press high','Sea Level Press avg',
            'Sea Level Press low', 'Visibility (km) high','Visibility (km) avg', 'Visibility (km) low', 'Wind (km/h) low',
            'Wind (km/h) avg', 'Wind (km/h) high', 'Precip (mm) sum','WeatherEvent']

In [16]:
features = {col_list[2]:['min','max','mean','var'],col_list[3]:['min','max','mean','var'],col_list[4]:['min','max','mean','var'],
           col_list[5]:['min','max','mean','var'], col_list[6]:['min','max','mean','var'], col_list[7]:['min','max','mean','var'],
           col_list[8]:['min','max','mean','var'], col_list[9]:['min','max','mean','var'], col_list[10]:['min','max','mean','var'],
col_list[11]:['min','max','mean','var'], col_list[12]:['min','max','mean','var'], col_list[13]:['min','max','mean','var'],
col_list[14]:['min','max','mean','var'], col_list[15]:['min','max','mean','var'], col_list[16]:['min','max','mean','var'],
col_list[17]:['min','max','mean','var'], col_list[18]:['min','max','mean','var'], col_list[19]:['min','max','mean','var']}

weather_features = weatherData_final.groupby(['Year','Month']).agg(features).reset_index()

In [17]:
weather_features.tail(5)

    Year Month Temp high (°C)                             Temp avg (°C)        \
                          min   max       mean        var           min   max
79  2015   Mar           -3.0  17.0   7.258065  19.931183          -7.0  11.0
80  2015   May           17.0  31.0  25.677419  16.159140          13.0  26.0
81  2015   Nov            7.0  23.0  15.033333  21.412644           4.0  21.0
82  2015   Oct           10.0  26.0  18.580645  18.651613           7.0  21.0
83  2015   Sep           22.0  36.0  28.133333  14.050575          18.0  31.0

                             ...     Wind (km/h) low             \
         mean        var     ...                mean        var
79   3.516129  17.058065     ...           25.806452  29.561290
80  20.483871  13.191398     ...           21.129032  17.582796
81  11.633333  19.412644     ...           21.535714  43.220899
82  14.483871  14.991398     ...           21.258065  36.531183
83  23.700000  10.975862     ...           19.433333  24.805747

   Wind (km/h) avg                            Wind (km/h) high        \
               min   max      mean        var              min   max
79             4.0  18.0  9.838710  10.606452             27.0  71.0
80             3.0  12.0  6.806452   5.161290             18.0  47.0
81             3.0  17.0  7.821429  12.300265             21.0  58.0
82             3.0  20.0  8.451613  17.455914             19.0  52.0
83             2.0  13.0  7.033333  11.343678             18.0  43.0


         mean         var
79  40.903226  142.623656
80  34.225806   50.913978
81  34.035714  104.702381
82  34.258065   75.531183
83  30.166667   51.247126

[5 rows x 74 columns]

In [18]:
weather_features.columns = [x[0]+x[1] for x in weather_features.columns]
weather_features.head()

,Year,Month,Temp high (°C)min,Temp high (°C)max,Temp high (°C)mean,Temp high (°C)var,Temp avg (°C)min,Temp avg (°C)max,Temp avg (°C)mean,Temp avg (°C)var,...,Wind (km/h) lowmean,Wind (km/h) lowvar,Wind (km/h) avgmin,Wind (km/h) avgmax,Wind (km/h) avgmean,Wind (km/h) avgvar,Wind (km/h) highmin,Wind (km/h) highmax,Wind (km/h) highmean,Wind (km/h) highvar
0,2009,Apr,9.0,33.0,17.100000,50.162069,6.0,27.0,12.733333,30.685057,...,27.300000,27.941379,6.0,24.0,11.366667,16.791954,24.0,61.0,39.566667,87.426437
1,2009,Aug,22.0,33.0,27.967742,12.165591,19.0,29.0,24.387097,6.511828,...,19.290323,31.279570,3.0,10.0,6.806452,3.827957,19.0,64.0,28.064516,75.929032
2,2009,Dec,-2.0,19.0,5.451613,29.055914,-5.0,15.0,2.354839,24.303226,...,28.580645,36.651613,6.0,23.0,13.451613,19.189247,24.0,64.0,42.838710,97.473118
3,2009,Feb,-6.0,18.0,6.964286,30.850529,-9.0,13.0,2.785714,24.322751,...,27.928571,47.253968,6.0,22.0,12.214286,21.656085,24.0,77.0,41.642857,167.349206
4,2009,Jan,-9.0,8.0,0.741935,16.664516,-11.0,5.0,-2.096774,13.956989,...,27.000000,35.066667,4.0,18.0,12.000000,12.200000,21.0,60.0,39.322581,96.625806

In [27]:
weatherData_final['WeatherEvent'].isnull().sum()

1662

In [25]:
weatherData_final['WeatherEvent'].value_counts()

Rain                 600
Fog , Rain           139
Snow                  62
Fog , Snow            36
Rain , Snow           24
Fog , Rain , Snow     20
Fog                   12
Thunderstorm           1
Name: WeatherEvent, dtype: int64

In [ ]:
########################### ------------------------------------------- ##################################

# Events_HolidaysData

In [1]:
from datetime import date
from datetime import datetime
import dateutil
import pandas as pd
import numpy as np

In [30]:
holiday_data = pd.read_excel('C:\\Users\\HP\Desktop\\PHD Hackathon\\Data Science\\PhD_Train_Data\\Events_HolidaysData.xlsx')
holiday_data.head()

   Year  MonthDate                       Event      DayCategory
0  2009 2001-01-01              New Year's Day  Federal Holiday
1  2009 2019-01-01  Martin Luther King Jr. Day  Federal Holiday
2  2009 2014-02-01             Valentine's Day            Event
3  2009 2016-02-01             Presidents' Day  Federal Holiday
4  2009 2012-04-01               Easter Sunday            Event

In [31]:
holiday_data.MonthDate = holiday_data.MonthDate.astype(str).str[2:7]
holiday_data.head()

   Year MonthDate                       Event      DayCategory
0  2009     01-01              New Year's Day  Federal Holiday
1  2009     19-01  Martin Luther King Jr. Day  Federal Holiday
2  2009     14-02             Valentine's Day            Event
3  2009     16-02             Presidents' Day  Federal Holiday
4  2009     12-04               Easter Sunday            Event

In [13]:
print('Hape Of DataFrame', holiday_data.shape)
holiday_data.dtypes

Hape Of DataFrame (150, 4)

Year            int64
MonthDate      object
Event          object
DayCategory    object
dtype: object

In [32]:
print(holiday_data.Year.unique(), '\n')
print(np.min(holiday_data.MonthDate), '\n')
print(np.max(holiday_data.MonthDate), '\n')
print(len(holiday_data.Event.unique()), '\n')
print(holiday_data.DayCategory.unique())

[2009 2010 2011 2012 2013 2014 2015 2016]

01-01

31-12

23

['Federal Holiday' 'Event']

### Extract Month & Day From MonthDate Column

In [34]:
holiday_data['Month'] = holiday_data['MonthDate'].str[3:5]
holiday_data['Day'] = holiday_data['MonthDate'].str[0:2]

holiday_data.head()

   Year MonthDate                       Event      DayCategory Month Day
0  2009     01-01              New Year's Day  Federal Holiday    01  01
1  2009     19-01  Martin Luther King Jr. Day  Federal Holiday    01  19
2  2009     14-02             Valentine's Day            Event    02  14
3  2009     16-02             Presidents' Day  Federal Holiday    02  16
4  2009     12-04               Easter Sunday            Event    04  12

In [53]:
holiday_data.isnull().sum()

Year           0
MonthDate      0
Event          0
DayCategory    0
Month          0
dtype: int64

In [18]:
import pandas as pd
from pandas import *

In [25]:
df1 = pd.DataFrame({'year':[2010,2010,2010,2011,2011, 2014, 2014, 2014], 'month':[1,1,1,2,2,4,4,4], 
                    'cat':['one', 'two', 'three','one', 'two', 'one', 'two', 'three'], 
                    'sum':[21,32,33,45,46, 98, 67, 34]})
#df1 = df1.set_index(['year', 'month'])
df1

     cat  month  sum  year
0    one      1   21  2010
1    two      1   32  2010
2  three      1   33  2010
3    one      2   45  2011
4    two      2   46  2011
5    one      4   98  2014
6    two      4   67  2014
7  three      4   34  2014

In [26]:
df2 = pd.DataFrame({'year':[2010,2011,2012,2013,2014], 'month':[1,2,3,4,5], 'var':[12,13,23,34,45]})
#df2 = df2.set_index(['year','month'])
df2

   month  var  year
0      1   12  2010
1      2   13  2011
2      3   23  2012
3      4   34  2013
4      5   45  2014

In [27]:
df3 = pd.merge(df1, df2, left_on=['year', 'month'], right_on=['year', 'month'])
df3

     cat  month  sum  year  var
0    one      1   21  2010   12
1    two      1   32  2010   12
2  three      1   33  2010   12
3    one      2   45  2011   13
4    two      2   46  2011   13

In [29]:
df4 = pd.concat([df1, df2], axis=1)
df4

     cat  month  sum  year  month   var    year
0    one      1   21  2010    1.0  12.0  2010.0
1    two      1   32  2010    2.0  13.0  2011.0
2  three      1   33  2010    3.0  23.0  2012.0
3    one      2   45  2011    4.0  34.0  2013.0
4    two      2   46  2011    5.0  45.0  2014.0
5    one      4   98  2014    NaN   NaN     NaN
6    two      4   67  2014    NaN   NaN     NaN
7  three      4   34  2014    NaN   NaN     NaN

In [30]:
df1_shaped = pivot_table(df1, values = ['sum'], columns = ['cat'], index = ['year', 'month'])
df1_shaped

             sum
cat          one three   two
year month
2010 1      21.0  33.0  32.0
2011 2      45.0   NaN  46.0
2014 4      98.0  34.0  67.0

In [ ]:
# 1st rehsape the train data with pivot table as 
# categories as columns, and sales as values.
# as our target varible is sales of each category in each month, 
# extract new feature as total sales by adding all the 3 categoriacl sales values.