In [9]:
import os
import pandas as pd
os.chdir("C://Piazza\\Activity Lab//SVM_RnadForest")

In [10]:
bank=pd.read_csv("UniversalBank.csv",na_values=["?",","])
print(bank.shape)
print(type(bank))

(5000, 14)
<class 'pandas.core.frame.DataFrame'>

In [11]:
print(bank.columns)
print(bank.dtypes)

Index(['ID', 'Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')
ID                      int64
Age                     int64
Experience              int64
Income                  int64
ZIP Code                int64
Family                  int64
CCAvg                 float64
Education               int64
Mortgage                int64
Personal Loan           int64
Securities Account      int64
CD Account              int64
Online                  int64
CreditCard              int64
dtype: object

In [12]:
bank["Personal Loan"].value_counts()

0    4520
1     480
Name: Personal Loan, dtype: int64

In [13]:
bank=bank.drop(["ID"],axis=1)

In [14]:
bank.head(6)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,37,13,29,92121,4,0.4,2,155,0,0,0,1,0

In [15]:
bank['Education']=bank['Education'].astype('category')

In [16]:
bank=pd.get_dummies(bank)

In [17]:
bank.head(5)

,Age,Experience,Income,ZIP Code,Family,CCAvg,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Education_1,Education_2,Education_3
0,25,1,49,91107,4,1.6,0,0,1,0,0,0,1,0,0
1,45,19,34,90089,3,1.5,0,0,1,0,0,0,1,0,0
2,39,15,11,94720,1,1.0,0,0,0,0,0,0,1,0,0
3,35,9,100,94112,1,2.7,0,0,0,0,0,0,0,1,0
4,35,8,45,91330,4,1.0,0,0,0,0,0,1,0,1,0

In [18]:
 bank=bank.fillna(bank.mean())

In [19]:
from sklearn import preprocessing, metrics, cross_validation

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
# Divide in to train and test
y=bank["Personal Loan"]
X=bank.drop('Personal Loan', axis=1)

#from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y, test_size=0.20)

In [21]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(4000, 14)
(1000, 14)
(4000,)
(1000,)

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scaler = StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [24]:
X_train=scaler.transform(X_train)
X_test=scaler.transform(X_test)

# Build SVM Classifier

In [25]:
from sklearn import svm
model = svm()
svm.fit(X_train, y_train)
y_pred = model.predict(X_test)

TypeError: 'module' object is not callable

# Build SVM Classifier with weights

# GridSearch Cross Validation